.grid-layout {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

@media (max-width: 540px) {
  .grid-layout {
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
  }
}
